* {
  margin: 0;
  padding: 0;
}

html { scroll-behavior: smooth; }

body {
  background-color: #e5e5e5;
  color: #172b4d;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}

a { text-decoration: none; }

.container {
  max-width: 1140px;
  width: calc(100% - 1rem);
  padding: 0 0.5rem;
}

.sections {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.sections .container {

}

.sections h2 {
  display: block;
  position: relative;
  color: #172b4d;
  font-size: 2.25rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  margin: 0 auto 3rem;
}

.sections h2::after {
  display: block;
  position: absolute;
  content: '';
  clear: both;
  bottom: -1rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 0;
  border: 0.15rem solid #36b37e;
  border-radius: 1px;
}

/* -------------------------
======= Header Area =======
------------------------- */
header {
  background-color: #fff;
}

.logo {
  text-transform: capitalize;
  font-size: 1.25rem;
  padding: 0.5rem;
  color: #28352f;
  font-weight: 600;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: 3rem;
  max-height: 3rem;
}

#hamberger {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #28352f;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#desktop-menu {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  gap: 0 1rem;
  list-style: none;
  text-transform: capitalize;
  padding: 1rem 0;
}

#desktop-menu a {
  display: inline-flex;
  padding: 1rem 1rem;
  text-transform: capitalize;
  color: #344563;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

/* -------------------------
======= Headline Area ======
------------------------- */
#headline {
  background-color: #fff;
  background-image: url('./assets/header-illsutration-mobile.svg');
  min-height: calc(100vh - 50px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#headline,
#headline .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#headline h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 1rem;
}

.line1 { color: #172b4d; }

.line2 { color: #36b37e; }

#headline p {
  font-size: 1.15rem;
  color: #28352f;
  margin: 0 auto 1rem;
  text-align: center;
}

#social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 1rem auto 3rem;
}

#social-links a {
  display: inline-flex;
  max-width: 20px;
  max-height: 20px;
  color: #505f79;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#social-links a:hover,
#desktop-menu a:hover {
  color: #36b37e;
}

#social-links a img {
  width: 100%;
  object-fit: cover;
}

.scroller-down {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto 0;
}

#scroll-down {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.125rem solid #e0e1e2;
  color: #172b4d;
  font-size: 1.5rem;
  transition: all 0.25s ease-in-out;
}

#scroll-down:hover {
  background-color: #36b37e;
  border-color: #36b37e;
  color: white;
}

#scroll-down::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0.1rem dotted #36b37e;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: all 0.25s ease-in-out;
  animation: scroll-btn-animation 3s infinite;
  animation-delay: 0s;
}

@keyframes scroll-btn-animation {
  0% {
    opacity: 0.25;
    z-index: 0;
  }

  85% {
    opacity: 1;
    width: 300%;
    height: 300%;
    left: calc(100% - 200%);
    top: calc(100% - 200%);
  }

  100% {
    opacity: 0;
  }
}

/* -------------------------
===== Recent Work Area =====
------------------------- */



/* -------------------------
======= Responsive CSS =====
------------------------- */
@media screen and (min-width: 768px) {
  #desktop-menu { display: flex; }

  #toolbar, .sections h2::after { display: none; }

  #headline {
    background-image: url('./assets/Header-llustration-desktop.svg');
    min-height: 100vh;
    background-size: cover;
  }

  #headline h1 {
    font-size: 3rem;
    font-weight: 800;
  }

  #headline p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  #headline .container {
    max-width: 920px;
    width: 80%;
  }

  #social-links {
    margin-top: 2rem;
  }

  #social-links a {
    max-width: 2rem;
    max-height: 2rem;
    font-size: 2rem;
  }

  #social-links a .fa {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  }
}
