* {
  margin: 0;
  padding: 0;
}

html { scroll-behavior: smooth; }

body {
  background-color: #e5e5e5;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
}

.container {
  width: calc(100% - 1rem);
  padding: 0 0.5rem;
}

/* -------------------------
======= Header Area =======
------------------------- */
header {
  background-color: #fff;
}

.logo {
  text-transform: capitalize;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #28352f;
  font-weight: 600;
}

#topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: 3rem;
}

#hamberger {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

#hamberger .ham__bar {
  display: inline-block;
  width: 1rem;
  border: 0.1rem solid #28352f;
  border-radius: 1px;
}
